@font-face {
  font-family: "Red Hat Text";
  src: url("./assets/fonts/RedHatText-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Red Hat Text";
  src: url("./assets/fonts/RedHatText-Italic-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: italic;
}

body {
  margin: 0;
  font-family: "Red Hat Text", sans-serif;
  background-image: url("../public/images/bg-header-desktop.svg"),
    linear-gradient(hsl(180, 29%, 50%), hsl(180, 29%, 50%));
  background-repeat: repeat-x;
  background-size: 100% 10vw, 100% 10vw;
}
